$color-primary: hsl(29, 95%, 42%);

// Dark theme
$color-text: hsl(0, 0%, 70%);
$color-grey: hsl(0, 0%, 12%);
$color-background: hsl(0, 0%, 10%);

// Light theme
// $color-text: hsl(0, 0%, 27%);
// $color-grey: hsl(0, 0%, 80%);
// $color-background: hsl(0, 0%, 96%);